/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica
  font-size: 1px;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75em;
  margin: 40px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

div#container {
  border: 1px;
  background-color: lightgrey;
  height: 90%;
  position: relative;
}


#p_content{
  padding-left: 10px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin: auto;
}

#p_chicken {
  background-color: pink;
  position: absolute
  top: 0;
  right: 0;
  font-size: 1.25em;
  font-weight: bold;
  float: right;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  margin: auto
}

#p_beef {
  background-color: red;
  color: white;
  position: absolute
  top: 0;
  right: 0;
  font-size: 1.25em;
  font-weight: bold;
  float: right;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  margin: auto
}

#p_sushi {
  background-color: yellow;
  position: absolute
  top: 0;
  right: 0;
  font-size: 1.25em;
  font-weight: bold;
  float: right;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  margin: auto;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-chicken, .col-lg-beef, .col-lg-sushi {
    float: left;
    border: none;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%
  }
  .col-lg-chicken {
    width: 30.66%;
    margin-left: 2%;
  }
  .col-lg-beef {
    width: 30.66%;
    margin-left: 2%
  }
  .col-lg-sushi {
    width: 30.66%;
    margin-left: 2%
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-chicken, .col-md-beef, .col-md-sushi{
    float: left;
    border: none;
    height: 100%;
    margin-top: 2%;
  }
  .col-md-chicken {
    width: 47%;
    margin-left: 2%;
  }
  .col-md-beef {
    width: 47%;
    margin-left:2%;
  }
  .col-md-sushi {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-chicken, .col-sm-beef, .col-sm-sushi {
    float: left;
    border: none;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .col-sm-chicken {
    width: 96%;
    margin-bottom:2%;
  }
  .col-sm-beef {
    width: 96%;
    margin-bottom: 2%;
  }
  .col-sm-sushi {
    width: 96%;
  }
}